<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Añadir Vehículo a mensualidad</title>
		<link rel="stylesheet" href="/globals.css" />
		<link rel="shortcut icon" href="/icon.png" type="image/x-icon" />
	</head>
	<body>
		<a href="/">Volver</a>
		<h1>Añadir Vehículo a mensualidad</h1>
		<form action="/agregar" method="POST">
			<label>
				Ingresar Placa:
				<input
					name="placa"
					type="text"
					required
					minlength="6"
					maxlength="6"
					placeholder="Placa"
				/>
			</label>
			<br />
			<label>
				Ingresar Marca:
				<input name="marca" type="text" required placeholder="Marca" />
			</label>
			<br />
			<label>
				Ingresar Modelo:
				<input name="modelo" type="text" required placeholder="Modelo" />
			</label>
			<br />
			<label>
				Ingresar Color:
				<input
					name="color"
					type="text"
					required
					maxlength="10"
					placeholder="Color"
				/>
			</label>
			<br />
			<label>
				Ingresar Nombre Conductor:
				<input
					name="nombre_c"
					type="text"
					required
					placeholder="Nombre Conductor"
				/>
			</label>
			<br />
			<br />
			<button type="submit">Agregar vehículo</button>
		</form>
	</body>
</html>
