<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bienvenidos a Parking Manager | Jarrison Cano</title>
		<link rel="stylesheet" href="/globals.css" />
		<link rel="shortcut icon" href="/icon.png" type="image/x-icon" />
		<link rel="shortcut icon" href="/icon.png" type="image/x-icon" />
	</head>
	<body>
		<h2>Bienvenidos a Parking Manager</h2>
		<h4>Opciones:</h4>
		<ul>
			<li>
				<a href="agregar">Registrar vehículo a mensualidad</a>
			</li>
			<br />
			<li>
				<a href="ingresar">Ingreso de Vehículo</a>
			</li>
			<br />
			<li>
				<a href="salida">Salida de Vehículo</a>
			</li>
			<br />
			<li>
				<a href="cancelar">Cancelar Mensualidad</a>
			</li>
		</ul>
		<br />
		<h4>Estadisticas:</h4>
		<ul>
			<li>
				<a href="parqueadero">Ver datos del parqueadero</a>
			</li>
		</ul>
	</body>
</html>
