<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Salida de vehículo</title>
		<link rel="stylesheet" href="/globals.css" />
		<link rel="shortcut icon" href="/icon.png" type="image/x-icon" />
	</head>
	<body>
		<a href="/">Volver</a>
		<h1>Salida de vehículo</h1>
		<form method="POST">
			<label>
				Ingresar Placa:
				<input
					name="placa"
					type="text"
					required
					minlength="6"
					maxlength="6"
					placeholder="Placa"
				/>
			</label>
			<br />
			<br />
			<button type="submit">registrar salida del vehículo</button>
		</form>
	</body>
</html>
